@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: "Open Sans", sans-serif;
    }
}

@layer utilities {
    .auth__layout {
        @apply flex flex-col items-center text-white justify-center  w-full bg-black min-h-screen
    }

    .login__form {
        @apply p-2 bg-dark-soft border mx-auto border-[#2b2b2b] px-[2em] md:px-[5em] pt-[1.5em] pb-[3.5em] max-w-[550px] w-full rounded-md
    }

    .form__group input {
        @apply py-[12px] px-[14px] text-sm border-[1.5px] border-[#2b2b2b] outline-none w-full rounded-sm
    }

    .form__group textarea {
        @apply py-[12px] px-[14px] text-sm border-[1.5px] border-[#2b2b2b] outline-none w-full rounded-sm
    }

    .nav__container {
        @apply flex container items-center gap-[4rem]
    }

    .nav__menu {
        @apply flex gap-2 items-center
    }

    .navmenu__link {
        @apply text-gray-300 flex items-center text-sm gap-2 font-medium px-4 py-[.7rem] rounded-full
        hover:navmenu__link--active transition-all 
    }

    .navmenu__link i {
        @apply text-xl font-light
    }

    .navmenu__link--active {
        @apply btn-primary  text-white
    }
}

@layer components {
    .container {
        @apply max-w-[90%] mx-auto
    }
    .btn {
        @apply cursor-pointer w-full bg-white text-black py-[10px] px-[14px] rounded-sm active:scale-95 transition-all text-sm
    }

    .btn-primary {
        @apply bg-gradient-to-br from-primary-500 to-primary-700 text-white
        hover:shadow-lg hover:shadow-primary-600/30
    }

    .btn-primary-icon {
        @apply bg-gradient-to-br from-primary-500 to-primary-700 text-white text-base
        hover:shadow-lg hover:shadow-primary-600/30 rounded-full p-3 cursor-pointer max-w-max flex    
    }

    .btn-danger-icon {
        @apply bg-gradient-to-br from-red-500 to-red-700 text-white text-base
        hover:shadow-lg hover:shadow-red-600/30 rounded-full p-3 cursor-pointer max-w-max flex    
    }

    i {
        @apply flex   
    }

    .navmenu {
        @apply w-full bg-dark-soft py-6 border-b border-[#2b2b2b]
    }

    .header-page {
        @apply bg-dark-soft py-8  
    }

    .table {
        @apply container p-8 text-sm rounded-md bg-dark-soft border border-gray-dark
    }

    .divider {
        @apply border-t border-gray-dark my-4
    }

    .modal {
        @apply text-start bg-dark-soft pt-6 pb-8 px-8 w-full max-w-xl border rounded-lg text-gray-300 border-gray-dark
    }

    .modal button {
        @apply btn btn-primary 
    }

}